@page
@model C2_RazorPage.Pages.Movies.Director_MovieModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<a href="./Add">Add Movie</a>
<h1>List of movies</h1>
<form method="post">
    <input type="text" name="search" value="@Model.searchtext"/>
    <input type="hidden" name="director" value="@Model.directorID" />
    <button type="submit">Search </button>
</form>
<div class="d-flex">
    <div class="flex">
        <div><h4>Director</h4></div>
        @foreach(var director in Model.directors)
        {
        <div style="width : 150px;">
                @if (director.Id == Model.directorID)
                {
                    <a href="./Director_Movie?id=@director.Id" style="font-size:25px;">
                        @director.FullName
                    </a>
                }
                else
                {
                    <a href="./Director_Movie?id=@director.Id">
                        @director.FullName
                    </a>
                }
           
            </div>
            
        }
    </div>

    <div style="margin-left:200px">
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>ReleaseDate</td>
                    <td>Description</td>
                    <td>Language</td>
                    <td>Director</td>
                    <td>Producer</td>
                    <td style="width: 200px;">Star</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.movies)
                {
                    <tr id="@movie.Id">
                        <td>@movie.Title</td>
                        <td>@movie.ReleaseDate</td>
                        <a href="d:\prn221\c2_razorpage\c2_razorpage\pages\movies\director_movie.cshtml.cs">d:\prn221\c2_razorpage\c2_razorpage\pages\movies\director_movie.cshtml.cs</a>
                        <a href="d:\prn221\c2_razorpage\c2_razorpage\pages\movies\director_movie.cshtml">d:\prn221\c2_razorpage\c2_razorpage\pages\movies\director_movie.cshtml</a>
                        <td>@movie.Description</td>
                        <td>@movie.Language</td>
                        <td>@movie.Director.FullName</td>
                        <td>@movie.Producer.Name</td>
                        <td style="width: 200px;">
                        @foreach(var star in movie.Stars){  
                                @star.FullName <br />
                        }
                        </td>
                        @*  <td> <a href="./Director_Movie?deleteId=@movie.Id&&id=@movie.Director.Id">Delete</a>
                             <a href="./Edit?idEdit=@movie.Id">Edit</a>
                         </td> *@
                        <td>
                            <a href="javascript: void(0)" onclick="onDelete(@movie.Id)">Delete</a>
                          @* c  <a href="./Edit?idEdit=@movie.Id">Edit</a> *@
                        </td>
                    </tr>
                }
                
            </tbody>

        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/movieHub").build();
        connection.start();
     
        function onDelete(movieId) {
           //s console.log(connection);

         connection.invoke("DeleteMovie", movieId);
// hàm này để gọi những function trong Hub
          // alert(movieId);
        }
        connection.on("LoadMovie", (deleteId) => {
            var element = document.getElementById(deleteId);
            console.log(element);
                // Kiểm tra xem phần tử có tồn tại không
                element.remove(); // Xóa phần tử
                       //  location.reload();
         });

    </script>
</div>